# Dependencies
node_modules/
.pnp
.pnp.js
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Build outputs
build/
dist/
coverage/

# IDE and OS
.DS_Store
.idea/
.vscode/
*.swp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
